name: Terraform Deploy to Azure

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    permissions:
      id-token: write
      contents: read

    # All steps run inside your TF folder
    defaults:
      run:
        working-directory: Linux-Virtual-machine

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Debug workspace
        run: |
          echo "GITHUB_WORKSPACE=$(pwd)"
          ls -la
          echo "----"
          ls -la Linux-Virtual-machine || true

      - name: Azure login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Validate
        run: terraform validate -no-color

      - name: Terraform Plan
        run: terraform plan -out=tfplan -input=false \
          -var "location=australiaeast" \
          -var "resource_group_name=rg-devops-lab" \
          -var "vnet_name=vnet-devops-lab" \
          -var "vnet_cidr=10.10.0.0/16" \
          -var "subnet_name=snet-devops-lab" \
          -var "subnet_cidr=10.10.1.0/24" \
          -var "vm_name=vm-devops-01" \
          -var "vm_size=Standard_D2s_v3" \
          -var "admin_username=azureuser" \
          -var "prefix=dil-${{ github.run_number }}"

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false tfplan
